{% extends 'base.html.twig' %}

{% block title %}NOS BARS{% endblock %}

{% block body %}
<div class="container">
{% for bar in bars %}
<div class="barcard" style="background-image: url({{asset("uploads/bar/" ~ bar.picture)}}); background-size: cover;">
  <h2>{{ bar.name }}</h2>
    {# <img src="{{ asset('/uploads/bar/' ~ bar.picture) }}" alt="{{ bar.name }}"> #}
    <p>Descriptiontrong: {{ bar.description }}</p>
    <p>Email: {{ bar.email }}</p>
    <p>Phone: {{ bar.phone }}</p>
    <p>Address: {{ bar.adress }}</p>
</div>
{% endfor %}
</div>
{% endblock %}
