{% extends 'base.html.twig' %}

{% block title %}LES ARTISTES{% endblock %}

{% block body %}
<div class="container">
{% for artist in artists %}
<div class="artcard">
  <h2>{{ artist.nickname }}</h2>
    <img src="{{ artist.picture }}" alt="{{ artist.nickname }}">
    <p>Description: {{ artist.description }}</p>
    <p>Email: {{ artist.email }}</p>
    <p>Phone: {{ artist.phone }}</p>
    <p>Style: {{ artist.artistCategory.name }}</p>
</div>
{% endfor %}
<div>
{% endblock %}
