<!DOCTYPE html>
<html>
    <nav>
        <ul>
            <li>
                <a href={{ path('app_index') }}>Accueil</a>
            </li>
            <li>
                <a href={{ path('app_bar') }}>Nos bars</a>
            </li>
            <li>
                <a href={{ path('app_artist') }}>Les artistes</a>
            </li>
            <li>
                <a href={#"{{ path('newsletter_subscribe') }}"#}>Newsletter</a>
            </li>
            <li>
                {% if app.user %}
                <a href={{ path('app_logout') }}>Logout</a>
                {% else %}
                <a href={{ path('app_login') }}>Login</a>
                {% endif %}
            </li>
         </ul>
    </nav>
</html>
